body {
    font-size: 20px;
    background-color: #fff;
}

.wrapper {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.m1 {
    width: 100%;
}
footer {
    width: 100%;
    background-color: rgb(188, 188, 188);
}
